.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 0.5rem;
}

.project {
  color: #212529 !important;
  text-decoration: none !important;
  transition: all 0.3s;
}

.project:hover {
  transform: scale(1.05, 1.05);
}

.log {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 15px;
}

.log i {
  text-align: center;
}

.project-info {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 15px;
}

.project-info strong,
.project-info i {
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .btn-circle {
    margin: 0.5rem 0 0.5rem 0;
  }
}
